include includes/header
<body class='page page--about'>
a.page__logo(href='/')
    img(src='/layout/images/svg/logo.svg' width='125')
.page__image(style='background-image: url(/layout/images/bg.jpg)')
.page__content
    .page__header
        a.page__more(href='#') Gallery
        h1.page__title About us
    .page__scroll.scroll
        .scroll__wrap
            .scroll__content
                .text
                    .row
                        .col-sm-6
                            p LLC "Asket-Auto" successfully operates on russian market since 2007. We specialize on used vehicles and construction machines, but as well we sell new terrain cranes, utility vehicles, light commercial and heavy trucks.
                            p Our stock includes a wide variety of vehicles and machines for many different purposes.
                            p LLC "Asket-Auto" is an authorized dealer of leading manufacturers of terrain cranes (Ivanovets, Galichanin, Klintsy) and of utility vehicles (Ryazhskiy autorepairing plant and Mcenskiy plant of utility vehicles).
                            p Our company also provides a range of services: purchase of used vehicles and machines (including trade-in), financial lease or hire purchase, insurance, vehicle registration and many related services.                
                        .col-sm-6
                            img.right(src='/layout/images/img.jpg')
                            blockquote Here goes some text about company, benefits, any useful information etc. Here goes some text about company, benefits, any useful information etc. 
                    h2 Advantages of dealing with Asket-Auto:
                    .row
                        .col-sm-6
                            .point
                                .point__number 1
                                .point__title Beneficial ratio of price and quality
                                .point__text Due to mild environment of european part of Russia vehicles and machinery stay in good condition during long time of work.
                        .col-sm-6
                            .point
                                .point__number 2
                                .point__title Providing hire purchase of used vehicles and machinery
                                .point__text Due to mild environment of european part of Russia vehicles and machinery stay in good condition during long time of work.
                    .row
                        .col-sm-6
                            .point
                                .point__number 3
                                .point__title Beneficial ratio of price and quality
                                .point__text Due to mild environment of european part of Russia vehicles and machinery stay in good condition during long time of work.
                        .col-sm-6
                            .point
                                .point__number 5
                                .point__title Providing hire purchase of used vehicles and machinery
                                .point__text Due to mild environment of european part of Russia vehicles and machinery stay in good condition during long time of work.
                    .row
                        .col-sm-6
                            .point
                                .point__number 6
                                .point__title Beneficial ratio of price and quality
                                .point__text Due to mild environment of european part of Russia vehicles and machinery stay in good condition during long time of work.
                        .col-sm-6
                            .point
                                .point__number 7
                                .point__title Providing hire purchase of used vehicles and machinery
                                .point__text Due to mild environment of european part of Russia vehicles and machinery stay in good condition during long time of work.
                        
- var activeNav = 0
include includes/sidebar
